<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />
        <meta-data
            android:name="yuanren.tvsamrtwatch.smartwatchinteractions.models.MyGlideAppModule"
            android:value="AppGlideModule" />

        <activity
            android:name=".views.LoginActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.movies.MainActivity"
            android:exported="false" />
        <activity
            android:name=".views.menu.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".views.detail.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".views.search.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".views.tv.TVChannelActivity"
            android:exported="false" />
        <activity
            android:name=".views.playback.PlaybackActivity"
            android:exported="false" />
        <activity
            android:name=".views.x_ray.XRayListActivity"
            android:exported="false" />
    </application>

</manifest>